# Android Studio
.idea/
*.iml
.gradle/
build/
local.properties
.cxx/
.externalNativeBuild/

# Gradle
gradle/.idea/
gradle-wrapper.properties

# Файлы ОС
.DS_Store
Thumbs.db

# Временные файлы
*.log
*.tmp
*.bak